<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{match.name}}</ion-title>
    <ion-avatar slot="end">
      <img src="{{match.avatar}}">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-content>
      <ion-list lines="none">
        <ion-item [ngClass]="message.me === true ? 'bubble-me' : 'bubble'" *ngFor="let message of messages" button (click)="chatClicked()">
          <ion-label class="ion-text-wrap">
            <p>{{message.message}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-input class="chat-box" placeholder="Enter Input"></ion-input>
    </ion-content>
  </ion-card>

</ion-content>