<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Matches
    </ion-title>
    <div class="scrolling-wrapper-flexbox">
      <div class="card" *ngFor="let match of matches" (click)="chatClicked(match.id)">
        <ion-avatar>
          <img src="{{match.avatar}}">
        </ion-avatar>
        <ion-text>
          <p>{{match.name}}</p>
        </ion-text>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Matches</ion-title>
      <div class="scrolling-wrapper-flexbox">
        <div class="card" *ngFor="let match of matches" (click)="chatClicked('55')">
          <ion-avatar>
            <img src="{{match.avatar}}">
          </ion-avatar>
          <ion-text>
            <p>{{match.name}}</p>
          </ion-text>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-subtitle>Messages</ion-card-subtitle>
    <ion-content>
        <ion-list lines="none">
          <ion-item *ngFor="let chat of matches" button (click)="chatClicked()">
            <ion-avatar slot="start">
              <img src="{{chat.avatar}}">
            </ion-avatar>
            <ion-label>
              <h2>{{chat.name}}</h2>
              <p>Listen, I've had a pretty messed up day...</p>
            </ion-label>
            <ion-text slot="end">
              <p>11 pm</p>
            </ion-text>
          </ion-item>
        </ion-list>
    </ion-content>
  </ion-card>

</ion-content>